/* Стили ссылок в подвале */
.footer__column-link {
  text-decoration: none;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: .5s;
}

.footer__column-link:hover {
  opacity: .5;
} 