/* Стиль параграфов в блоке description */
.two-columns__paragraph{
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph:first-child{
  margin: 0px;
}