/* Стиль текста таблицы */
.table__text{
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child{
  margin-bottom: 0px;
}